@use "../../app" as *;

.root {
  @include hidden-scrollbar;
}

.input {
  padding-top: 0;
  padding-bottom: 0;
}

.nowrap {
  white-space: pre;
  overflow: auto;
  overflow-wrap: normal;
  word-wrap: normal;
  @include hidden-scrollbar;
}

.scrollCap {
  overflow-y: auto;
}
