@use '../../app' as *;

.root {
  position: relative;
  flex: 1;
  min-height: 0;
  height: 100%;
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.shell {
  position: relative;
  flex: 1;
  min-height: 0;
  height: 100%;
  width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
